[submodule "site"]
	path = site
	url = git@github.com:GillyRabutTsurwa/gilbertrabuttsurwa__site.git
[submodule "content"]
	path = content
	url = git@github.com:GillyRabutTsurwa/gilbertrabuttsurwa__content.git
